.inputSchool {
  &Form {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 20px;    
  }
  &Name,
  &Address,
  &Description {
    display: block;
  }

  &Submit {
    align-self: flex-end;
    @include color($activeColor, $black);
        font-weight: 600;
        &:hover{
            @include color($white, $primaryColor);
        }
  }
}
.inputSchoolForm   [type="text"], 
.inputSchoolForm textarea{
  border: none;
  border-radius: 2px;
  
}
.inputFieldContainer {
  display: flex;
  margin: 10px 0;

  label {
    width: 20%;
    text-align: right;
    padding-right: 20px;
  }

  input,
  textarea {
    width: 80%;
    padding: 4px 5px;
  }

  textarea {
    height: 100px;
    resize: none;
  }
}

.editForm{
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: $secondaryColor;
}