.inputSchool {
  &Form {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 20px;    
  }
  &Name,
  &Address,
  &Description {
    display: block;
  }

  &Submit {
    align-self: flex-end;
  }
}

.inputFieldContainer {
  display: flex;
  margin: 10px 0;

  label {
    width: 20%;
    text-align: right;
    padding-right: 20px;
  }

  input,
  textarea {
    width: 80%;
    padding: 4px 5px;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  &Radio{
  display: block;
  text-align: right;
  
  legend{
    display:none;
  }
    .radioButtonDot + label {
      width: calc(100% / 3);
      padding:8px 10px;
      border: 1px solid $white;
      border-radius: 2px;
      display: inline-block;
      transition: 0.2s;
      box-shadow: 0 5px #999;
      font-weight: 700;
      text-align: center;

    }
    .radioButtonDot:checked + label {
    transform: translateY(3px);
    box-shadow: 0 2px #666;
    @include color($activeColor, $black);
    }
    
  }
}

.editForm{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width:700px) {
  .inputFieldContainer {
    flex-wrap: wrap;
    input,
    textarea,
    label {
      width: 100%;
    }
    label{
      text-align: left;
    }

  }

  .inputFieldContainerRadio   .radioButtonDot + label {
    width: 100%;
  }
}