.nav {
  @include color($secondaryColor, $white);
  height: 80px;
}

.nav .wrapper {

  @include flex(flex, space-between, center, center);

  .navList {
    width: 21%;
    @include flex(flex, space-between, center, center);
  }

  h1 {
    font-size: 1.667rem;
    line-height: 1;
  }

  .navItem {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .navLink {
    text-transform: uppercase;
    font-size: 1.1rem;
    &:focus,
    &:hover {
      color: $primaryColor;
    }
  }
}

.hiddenNavList {
  display: none;
}

@media (max-width: 1260px) {
  .nav .wrapper {
    h1 {
      font-size: 1.333rem;
    }

    .navLink {
      font-size: 1.01rem;
    }
  }
}

@media (max-width: 950px) {
  .nav .wrapper .navList {
    width: 30%;
  }
}

@media (max-width: 780px) {
  .nav .wrapper {
    .navList {
      display: none;
    }
  }
  .hiddenNavList {
    @include flex(row, space-between, center, center);
    width: 15%;
    i {
      font-size: 1.667rem;
    }
  }
}

@media (max-width: 550px) {
  .hiddenNavList {
    i {
      font-size: 1.122rem;
    }
  }
}

@media (max-width: 400px) {
  .nav {
    height: auto;
  }
  .nav .wrapper {
    h1 {
      font-size: 1.111rem;
    }
  }
  .hiddenNavList {
    width: 20%;
  }
}
