.schoolsList {
  @include flex(row, space-between, start, center);
  flex-wrap: wrap;
  margin-top: 40px;
}
.result,
.noResult {
  margin: 1rem 0.5rem;
  text-align: center;
}

.noResult {
  @include flex(column, center, center, center);
  text-transform: uppercase;
  
  .resultName {
    font-size: 2.222rem;
  }
}

.result {
  width: 30%;
  position: relative;
  &Name {
    margin-bottom: 12px;
    font-size: 1.333rem;
    font-weight: 700;
  }
}
.noResult {
  width:60%;
  margin:0 auto;
}

.bookmarkPosition {
    position: absolute;
    right:6px;
    top:6px;
    font-size: 1.111rem;
    &:hover {
        color: $activeColor;
    }
}

.bookmark {
  background: transparent;
  border: none;
}

.bookmarkIcon {
  color: $primaryColor;
  opacity: 0.8;
}
.result .generalButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  .result {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 590px) {
  .result {
    width: 100%;
    margin: 0.5rem;
  }
}