.schoolsList {
  display: flex;
  flex-wrap: wrap;
}

.result {
  border: 1px solid black;
  text-align: center;
  position: relative;
  width: 30%;
  margin: 1rem 0.5rem;
  padding: 10px;
  background: $secondaryColor;

  &Name {
    font-weight: 700;
  }
}

.bookmarkPosition {
    position: absolute;
    right:10px;
    top:10px;
    font-size: 20px;
    &:hover {
        color: $activeColor;
    }
}

.bookmark {
  background: transparent;
  border: none;
}

.saved {
  color: $activeColor;
}