.schoolsList {
  display: flex;
  flex-wrap: wrap;
}

.result {
  border: 1px solid black;
  text-align: center;

  width: 30%;
  margin: 1rem 0.5rem;
  padding: 10px;

  &Name {
    font-weight: 700;
  }
}