.searchContainer {
    background-image:linear-gradient( to bottom, #fff0 80%, white), url("../assets/searchBackground.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
}
.smallWrapper {
    padding:80px;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.45)
}
.radioButtons {
    display: flex;
    margin-bottom: 10px;
}

.radioButtonLabel {
    text-align: center;
    border: 1px solid black;
    transition: 0.2s;
    background: $primaryColor;
    box-shadow: 0 5px #999;
    display: block;
    width: 150px;
}

.radioButtonDot:checked + label {
    transform: translateY(3px);
    box-shadow: 0 2px #666;
    background: $activeColor;
}

.radioButtonDot {
    display: none;
}



