.searchContainer {
    background-image:linear-gradient( to bottom, #fff0 80%, $white), url("../assets/searchBackground.jpg");
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 80px - 50px);

    .singleContent{
        position: relative;
    }
    .detailsButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}
.searchForm{
    @include flex(column, center, center, center);
    padding-top: 2rem;
}
.smallWrapper {
    padding:100px 80px;
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.6);
}
.radioButtons {
    @include flex(row, space-between, center, center);
    width:100%;
    margin-bottom: 10px;
    
}

.radioButtonLabel {
    @include color($secondaryColor, $white);
    width:calc(100% / 3);
    padding:8px 10px;
    text-align: center;
    border:1px solid $white;
    border-radius: 2px;
    transition: 0.2s;
    box-shadow: 0 5px #999;
    display: block;
    font-size: 1.111rem;
    font-weight: 700;
}
.radioButtonDot:checked + label {
    transform: translateY(3px);
    box-shadow: 0 2px #666;
    @include color($activeColor, $black);
}
.radioButtonDot {
    display: none;
}

.userInput, 
.userInputLabel {
    margin-top: 20px;
    font-size: 1.333rem;
}

.userInput {
    padding: 0 10px;
}

.userInput {
    @include color($white, $black);
    margin-left: 20px;
}
.schoolsListSearchInput {
    min-height: auto;
    width: 50%;
    margin: 0 auto;
    @include flex(column, center, center, center)
}

.schoolsListSearch {
    margin: 15px auto;
    text-align: center;
    width: 80%;
}

@media (max-width: 920px) {
    .schoolsListSearchInput {
        width: 100%;
    }
}

@media (max-width:880px) {
    .smallWrapper {
        padding: 60px 50px;
    }
}
@media (max-width:780px) {

    .radioButtons {
        flex-wrap: wrap;
    }
    .radioButtonLabel {
        width: 100%;
    }
    .schoolsListSearchInput {
        width: 80%;
    }
}
@media (max-width: 650px) {
    .smallWrapper {
        padding: 40px 30px;
    }
    .userInput {
        margin-left: 0;
    }
    
}
@media (max-width:500px) {
    .smallWrapper {
        padding: 30px 10px;
    }
    .radioButtonLabel {
        padding: 3px;

    }

}
@media (max-width:400px) {
    .radioButtonLabel, 
    .userInput, 
    .userInputLabel {
    font-size: 1rem;
    }
    .generalButton,
    .userInput {
        padding: 10px;
        width: 80%;
    }
    .generalButton{
        margin: 10px 0 20px;
    }
}