article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 125%; }

fieldset {
  border: none; }

body {
  background-color: #f0f8ff;
  color: #f0f8ff;
  font-family: "Barlow", sans-serif; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

h1,
h2 {
  font-family: "Offside", cursive; }

p {
  margin: 0; }

a {
  text-decoration: none; }

.wrapper {
  margin: 0 auto;
  padding: 0 5%; }

.singleContent {
  padding: 32px 22px;
  border: 1px solid black;
  border-radius: 10px;
  background: #1b4138;
  background: -webkit-linear-gradient(37deg, #1b4138 14%, #073330 31%, #0d1b17 69%);
  background: -o-linear-gradient(37deg, #1b4138 14%, #073330 31%, #0d1b17 69%);
  background: linear-gradient(53deg, #1b4138 14%, #073330 31%, #0d1b17 69%); }

[type="submit"],
.detailsButton,
button,
.inputSchoolSubmit {
  border: none; }

[type="submit"],
.detailsButton,
.inputSchoolSubmit {
  width: 40%;
  margin-top: 20px;
  padding: 10px 7px;
  border-radius: 2px; }

.schoolsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px; }

.result,
.noResult {
  margin: 1rem 0.5rem;
  text-align: center; }

.result {
  width: 30%;
  position: relative; }
  .resultName {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700; }

.noResult {
  width: 60%;
  margin: 0 auto; }

.detailsButton {
  background-color: #b1bc2b;
  color: #0d1b17;
  font-weight: bolder; }
  .detailsButton:hover {
    background-color: #f0f8ff;
    color: #416bff; }

.bookmarkPosition {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 20px; }
  .bookmarkPosition:hover {
    color: #b1bc2b; }

.bookmark {
  background: transparent;
  border: none; }

.saved {
  color: #416bff;
  opacity: 0.8; }

.searchContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #fff0), to(#f0f8ff)), url("../assets/searchBackground.jpg");
  background-image: -webkit-linear-gradient(top, #fff0 80%, #f0f8ff), url("../assets/searchBackground.jpg");
  background-image: -o-linear-gradient(top, #fff0 80%, #f0f8ff), url("../assets/searchBackground.jpg");
  background-image: linear-gradient(to bottom, #fff0 80%, #f0f8ff), url("../assets/searchBackground.jpg");
  padding-top: 2rem;
  min-height: 100vh;
  background-position: center center;
  background-size: cover; }

.smallWrapper {
  padding: 120px 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.38); }
  .smallWrapper [type="submit"] {
    background-color: #b1bc2b;
    color: #f0f8ff; }

.radioButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 10px; }

.radioButtonLabel {
  background-color: #073330;
  color: #f0f8ff;
  width: calc(100% / 3);
  padding: 8px 10px;
  text-align: center;
  border: 1px solid #f0f8ff;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #999;
  box-shadow: 0 5px #999;
  display: block;
  font-size: 20px;
  font-weight: 700; }

.radioButtonDot:checked + label {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-box-shadow: 0 2px #666;
  box-shadow: 0 2px #666;
  background-color: #b1bc2b;
  color: #0d1b17; }

.radioButtonDot {
  display: none; }

.userInput,
.userInputLabel {
  margin-top: 20px;
  font-size: 25px; }

.userInput,
.userInput::-webkit-input-placeholder {
  font-family: "Barlow", sans-serif; }

.userInput,
.userInput:-ms-input-placeholder {
  font-family: "Barlow", sans-serif; }

.userInput,
.userInput::-ms-input-placeholder {
  font-family: "Barlow", sans-serif; }

.userInput,
.userInput::placeholder {
  font-family: "Barlow", sans-serif; }

.userInput {
  background-color: #f0f8ff;
  color: #0d1b17;
  margin-left: 20px;
  border: none;
  border-radius: 2px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: flex;
  flex-direction: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #073330;
  color: #f0f8ff; }
  .navList {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: flex;
    flex-direction: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .nav h1 {
    font-size: 30px; }
  .navItem {
    margin-right: 20px; }
    .navItem:last-of-type {
      margin-right: 0; }
  .navLink {
    text-transform: uppercase;
    font-size: 25px;
    color: #f0f8ff; }

.inputSchoolForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px black solid;
  padding: 20px; }

.inputSchoolName, .inputSchoolAddress, .inputSchoolDescription {
  display: block; }

.inputSchoolSubmit {
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #b1bc2b;
  color: #0d1b17;
  font-weight: 600; }
  .inputSchoolSubmit:hover {
    background-color: #f0f8ff;
    color: #416bff; }

.inputSchoolForm [type="text"],
.inputSchoolForm textarea {
  border: none;
  border-radius: 2px; }

.inputFieldContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0; }
  .inputFieldContainer label {
    width: 20%;
    text-align: right;
    padding-right: 20px; }
  .inputFieldContainer input,
  .inputFieldContainer textarea {
    width: 80%;
    padding: 4px 5px; }
  .inputFieldContainer textarea {
    height: 100px;
    resize: none; }
  .inputFieldContainerRadio {
    display: block;
    text-align: right; }
    .inputFieldContainerRadio legend {
      display: none; }
    .inputFieldContainerRadio .radioButtonDot + label {
      width: 26.5%;
      text-align: center;
      padding: 8px 10px;
      border: 1px solid #f0f8ff;
      display: inline-block;
      font-weight: 700; }

.editForm {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #073330; }

img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  display: block; }

.modalWrapper.open {
  display: block; }

.modalWrapper.close {
  display: none; }

.detailsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6); }

.detailsModal {
  position: relative;
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 3rem;
  background: #073330; }

.detailsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.closeButton {
  position: absolute;
  right: -50px;
  top: -50px;
  font-size: 40px;
  padding: 0;
  background: none;
  border: none; }
  .closeButton:hover {
    color: red; }

.imgWrapper {
  width: 40%; }

.smallInfoWrapper {
  width: 51%; }

.descriptionWrapper {
  width: 80%;
  margin-top: 1rem; }

.searchContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #fff0), to(#f0f8ff)), url("../assets/searchBackground.jpg");
  background-image: -webkit-linear-gradient(top, #fff0 80%, #f0f8ff), url("../assets/searchBackground.jpg");
  background-image: -o-linear-gradient(top, #fff0 80%, #f0f8ff), url("../assets/searchBackground.jpg");
  background-image: linear-gradient(to bottom, #fff0 80%, #f0f8ff), url("../assets/searchBackground.jpg");
  padding-top: 2rem;
  min-height: 100vh;
  background-position: center center;
  background-size: cover; }

.smallWrapper {
  padding: 120px 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.38); }
  .smallWrapper [type="submit"] {
    background-color: #b1bc2b;
    color: #f0f8ff; }

.radioButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 10px; }

.radioButtonLabel {
  background-color: #073330;
  color: #f0f8ff;
  width: calc(100% / 3);
  padding: 8px 10px;
  text-align: center;
  border: 1px solid #f0f8ff;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 5px #999;
  box-shadow: 0 5px #999;
  display: block;
  font-size: 20px;
  font-weight: 700; }

.radioButtonDot:checked + label {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-box-shadow: 0 2px #666;
  box-shadow: 0 2px #666;
  background-color: #b1bc2b;
  color: #0d1b17; }

.radioButtonDot {
  display: none; }

.userInput,
.userInputLabel {
  margin-top: 20px;
  font-size: 25px; }

.userInput,
.userInput::-webkit-input-placeholder {
  font-family: "Barlow", sans-serif; }

.userInput,
.userInput:-ms-input-placeholder {
  font-family: "Barlow", sans-serif; }

.userInput,
.userInput::-ms-input-placeholder {
  font-family: "Barlow", sans-serif; }

.userInput,
.userInput::placeholder {
  font-family: "Barlow", sans-serif; }

.userInput {
  background-color: #f0f8ff;
  color: #0d1b17;
  margin-left: 20px;
  border: none;
  border-radius: 2px; }

.noteContainer {
  background-image: url(../assets/notesBackground.jpg);
  background-repeat: tile;
  background-position: left top;
  padding-top: 20px; }
  .noteContainer h2 {
    margin-top: 0;
    text-align: center;
    color: #0d1b17; }

.addSign {
  background-color: inherit;
  color: #0d1b17;
  display: block;
  margin: 1rem auto;
  font-size: 40px; }
  .addSign:hover {
    color: #416bff; }

.notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.singleNote {
  width: 47%;
  margin-bottom: 1.5rem; }
  .singleNote p {
    margin-bottom: 0.7rem;
    word-wrap: break-word; }
  .singleNote button {
    width: 25%;
    padding: 3px 2px;
    margin: 20px;
    border: none;
    border-radius: 2px;
    background-color: #b1bc2b;
    color: #0d1b17;
    font-weight: 600; }
    .singleNote button:hover {
      background-color: #f0f8ff;
      color: #416bff; }
  .singleNote i {
    margin: 5px; }

.schoolName {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 700; }

footer {
  background-color: #0d1b17;
  color: #416bff;
  text-align: center;
  margin-top: 20px;
  padding: 5px 0; }
  footer a {
    color: inherit; }
    footer a:hover, footer a:focus {
      color: #f0f8ff; }
