@import "./partials/setup";
@import "./partials/results";
@import "./partials/search";
@import "./partials/nav";
@import "./partials/addSchool";
@import "./partials/details";
@import "./partials/search";

.container {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

body {
    background: $primaryColor;
    color: $fontColor;
    font-family: $bodyFont;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: $headerFont;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $fontColor;
}