@import "./partials/setup";
@import "./partials/basicElements";
@import "./partials/results";
@import "./partials/search";
@import "./partials/nav";
@import "./partials/addSchool";
@import "./partials/details";
@import "./partials/search";

.container {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

body {
    background: #fcfcfc;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}